.flexboxCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.localVideo--props{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.loadingDots{
    display: inline-block;
    animation: dotty steps(1,end) 2s infinite;
    content: '';
    position: absolute;
}
@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
.videoConnection.modal.modalScrollPage{
    .modalContent{
        width: 642px;
        margin-left: calc(((100% - (#{$videoModalWidth + $chatClosed})) / 2) + 20px);
        #localVideoContainer{
            transition: $defaultTransition;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: 10;
            width: 100px;
            min-height: 100px;
            @extend .localVideo--props;
            #localVideo{
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;
                opacity: 0;
                width: 112.7px;
                @extend .localVideo--props;
            }
            &.display{
                opacity: 1;
                #localVideo{
                    opacity: 1;
                }
            }
        }
        #remoteContainer{
            min-width: 640px;
            min-height: 480px;
            .callingScreen{
                background-color: #4d5c6c;
                height: 480px;
                text-align: center;
                .callingScreen__image{
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                    border: 1px solid white;
                    margin: 0 auto;
                    display: inline-block;
                    background-position: center;
                    background-size: cover;
                }
                .callingScreen__name{
                    color: white;
                    padding: 95px 0 35px 0;//35px originates from:(480 - 60 - 205 - 25 - 85)/3 = 35px 95px originates from: 95-60 = 35(60px is the top control panel height)
                    font-size: 16px;
                }
            }
            &.fullScreen video {
              height: 100vh;
              width: 100vw;
            }
            &.fullScreen.chatOpen video {
              height: 100vh;
              width: 80vw;
            }
            .loadingScreen{
                background-color: #4d5c6c;
                height: 100%;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0;
                .loadingScreen__image{
                    width: 150px;
                }
                .loadingScreen__text{
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    top: -10px;
                    &::after{
                        @extend .loadingDots;
                    }
                }
                .loadingScreen__container{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            video{
                width: 640px;
                height: 480px;
                background-color: #4d5c6c;
            }
        }
        #remoteContainer video, #localVideo, .btnContainer{
            border-radius: 2px;
        }
        .videoContainer__spinner{
            @extend .flexboxCenter;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            transition: $defaultTransition;
            opacity: 0;
            width: calc(100% - 38px);
            &.display{
                opacity: 1;
                z-index: 11;
            }
        }
        .chatContainer{
          display: none;
        }
        .videoContainer__body{
            min-width: 640px;
            transition: $defaultTransition;
            opacity: 0;
            &.display{
                opacity: 1;
            }
          .chatContainer.chatOpen{
            display: flex;
            width: 40%;
            background-color: #d5dde1;
            height: 480px;
            float: left;
            position: relative;
            padding: 1%;
            font-size: 14px;
            box-sizing: border-box;
            overflow-y: auto;
            flex-direction: column;
          }
          .chatContainer.fullScreen.chatOpen{
            height: 100vh;
            width: 20vw;
          }
          .chatContainer .chatBar{
            display: flex;
            overflow-y: auto;
            position: relative;
            z-index: 1;
            flex-grow: 1;
            flex-flow: column-reverse;
            height: 100%;
          }
          .videoContainer.chatOpen video{
            object-fit: cover;
          }
          .chatLogo{
            width: 100px;
            background-color: #4d5c6c;
            padding: 10px;
            border-radius: 60px;
            position: absolute;
            z-index: 0;
            top: calc(50% - 60px);
            left: calc(50% - 60px);
            opacity: .2;
          }
          .chatInput{
            height: 30px;
            border-radius: 5px;
            border: none;
            margin-bottom: 3px;
            text-indent: 5px;
            font-size: 14px;
            width: 100%;
          }
        }
        .chatBubble{
          padding: 5px;
          max-width: 80%;
          border-radius: 5px;
          margin: 5px 0 5px 0;
          min-width: 40%;
          &:first-child{
            margin-bottom: 10px;
          }
          &:last-child{
            margin-top: 0;
          }
          &.mine{
            background-color: #25b4b0;
            align-self: flex-end;
          }
          &.theirs{
            background-color: #fff;
            align-self: flex-start;
          }
          &>.caption{
            font-size: 10px;
            margin-bottom: 3px;
            font-weight: 700;
          }
          &>.time{
            font-size: 9px;
            margin-top: 3px;
            font-weight: 700;
            text-align: right;
          }
        }
        .contentBox{
            position: relative;
            height: 482px;
            & > .flex.gutterHLg{
                min-width: 640px;
            }
        }
        & > .cornerTR{
            left: calc(#{$videoModalWidth} - #{$buttonHeight});
        }
        .videoContainer{
            position: relative;
            height: 480px;
            margin-right: 0;
            &.fullScreen{
              height: 100vh;
              width: 100vw;
            }
            &.fullScreen.chatOpen{
              height: 100vh;
              width: 80vw;
            }
        }
        .btnContainer__video{
          float: left;
          margin-left: calc(50% - 102px);
        }
        .btnContainer{
            position: absolute;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            bottom: 0;
            transition: $defaultTransition;
            opacity: 0;
            &.display{
                opacity: 1;
            }
            .btnContainer__overlay{
                background-color: #000;
                opacity: .3;
                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 0;
            }
            .btn{
                font-size: 18px;
                width: 45px;
                height: 45px;
                padding: 0;
                position: relative;
                margin: 0 3px;
                border-radius: 25px;
            }

            .btn.red.btn-default{
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
                &:hover{
                    color: #fff;
                    background-color: #c9302c;
                    border-color: #ac2925;
                }
            }
            .btn-default{
                &:not([disabled]):hover{
                    color: #333;
                    background-color: #e6e6e6;
                    border-color: #adadad;
                }
                &:not(.red):not([disabled]):active,&.paused,&.muted{
                    color: #333;
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
            }
            .fa-phone.end-call{
                transform: rotate(135deg);
            }
            &.top{
                top: 0;
                bottom: initial;
                @extend .flexboxCenter;
                justify-content: initial;
                font-size: 16px;
                color: white;
                .durationDisplay__text, .nickname, .centPerMinute__container{
                    position: relative;
                    z-index: 10;
                    width: 33.3%;
                }
                .nickname{
                    padding-left: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .callingString{
                    width: 100%;
                    position: relative;
                    z-index: 10;
                    text-align: center;
                }
                .callingString:after {
                  @extend .loadingDots;
                }
            }
            .js-fullScreen[disabled]{
                opacity: .2;
            }
          & > .openchatbtn {
            float: right;
            margin-right: 7%;
          }
        }
        .notification{
          border: solid #FFA500;
        }
    }
}
